body .ls-v6 .ls-bottom-slidebuttons a.ls-nav-active,
body .ls-v6 .ls-bottom-slidebuttons a.ls-nav-active:hover{
    background-color: #2d2d2d !important;
    border-color: #2d2d2d !important;
}
body .ls-v6 .ls-bottom-slidebuttons a, .ls-v6 .ls-nav-sides {
    margin: 0 3px !important;
    width: 12px !important;
    height: 12px !important;
}